<div [formGroup]="vehicleEntryForm" style="width: 100%;" fxLayout="column" fxLayoutAlign="start center"
    fxLayoutAlign.xs="start center">
    <mat-card class="vehicle-detail-card" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="start center"
        fxLayoutAlign.xs="start center">
        <div fxLayout="row" class="vehicle-detail-row" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
            <div fxFlex="45">
                Registered No.
            </div>
            <div>
                :&nbsp;&nbsp;
            </div>
            <div fxFlex="54" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
                <mat-form-field floatLabel="never" *ngIf="mode === 'add'">
                    <input formControlName="licence_plate_number" ngDefaultControl matInput placeholder="Registered No."
                        #licencePlate>
                    <mat-error *ngIf="licencePlate?.invalid">
                        Field name is required
                    </mat-error>
                </mat-form-field>
                <span *ngIf="mode === 'display'">{{vehicleEntryForm.get('licence_plate_number').value}}</span>
            </div>
        </div>
        <div fxLayout="row" class="vehicle-detail-row" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
            <div fxFlex="45">
                Name
            </div>
            <div>
                :&nbsp;&nbsp;
            </div>
            <div fxFlex="54" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
                <mat-form-field floatLabel="never" *ngIf="mode === 'add'">
                    <input formControlName="registered_person_name" ngDefaultControl matInput placeholder="Name"
                        #registeredName>
                    <mat-error *ngIf="registeredName?.invalid">
                        Field name is required
                    </mat-error>
                </mat-form-field>
                <span *ngIf="mode === 'display'">{{vehicleEntryForm.get('registered_person_name').value}}</span>
            </div>
        </div>
        <div fxLayout="row" class="vehicle-detail-row" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
            <div fxFlex="45">
                Flat No.
            </div>
            <div>
                :&nbsp;&nbsp;
            </div>
            <div fxFlex="54" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
                <mat-form-field floatLabel="never" *ngIf="mode === 'add'">
                    <input formControlName="registered_person_flat_number" ngDefaultControl matInput
                        placeholder="Flat No." #flatNumber>
                    <mat-error *ngIf="flatNumber?.invalid">
                        Field name is required
                    </mat-error>
                </mat-form-field>
                <span *ngIf="mode === 'display'">{{vehicleEntryForm.get('registered_person_flat_number').value}}</span>
            </div>
        </div>
        <div fxLayout="row" class="vehicle-detail-row" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
            <div fxFlex="45">
                Phone No.
            </div>
            <div>
                :&nbsp;&nbsp;
            </div>
            <div fxFlex="54" fxLayoutAlign="start center" fxLayoutAlign.xs="start center">
                <mat-form-field floatLabel="never" *ngIf="mode === 'add'">
                    <input formControlName="registered_person_phone_number" ngDefaultControl matInput
                        placeholder="Phone No." #phoneNumber>
                    <mat-error *ngIf="phoneNumber?.invalid">
                        Field name is required
                    </mat-error>
                </mat-form-field>
                <span *ngIf="mode === 'display'">{{vehicleEntryForm.get('registered_person_phone_number').value}}</span>
            </div>
        </div>
        <div fxLayout="row" class="vehicle-detail-row" style="background-color: white; color: white;" fxLayoutAlign="end center"
            fxLayoutAlign.xs="end center" fxLayoutGap="10px">
            <div style="width: 48px; height: 48px; border: 1px solid #ff0000; border-radius: 24px; background-color: #ff0000;"
                fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
                <button mat-icon-button (click)="deleteVehicleEntry(vehicleData.licence_plate_number)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div style="width: 48px; height: 48px; border: 1px solid #3f51b5; border-radius: 24px; background-color: #3f51b5;"
                fxLayoutAlign="center center" fxLayoutAlign.xs="center center" *ngIf="mode === 'display'">
                <button mat-icon-button (click)="mode = 'add'">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div style="width: 48px; height: 48px; border: 1px solid #3f51b5; border-radius: 24px; background-color: #3f51b5;"
                fxLayoutAlign="center center" fxLayoutAlign.xs="center center" *ngIf="mode === 'add'">
                <button mat-icon-button (click)="registerVehicleUser()">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
        </div>
    </mat-card>
</div>